*{
  padding : 0 ;
  margin:  0;
  box-sizing: border-box;
  
}

body{
  background-color: black;
  /* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #08080900; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #474b4e00; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #319cb100; 
}
}